<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="./images/favicon.png">
        <meta name ="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000000">
        <mata name ="description" content="Website created using flask framework">
        <link rel="apple-touch-icon" href="./images/favicon.png">
        <title>K.Yamakawa(lCyou) - resume</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/matter-js@0.19.0/build/matter.min.js"></script>
    </head>

    <body>
        <noscript>Please run this app with your browser set to JavaScript enabled</noscript>
        <div id="root">
            <div id="back">
                <div id="tsparticles"><canvas data-generated="false" style="width: 100% !important; height: 100% !important; position: fixed !important; z-index: 0 !important; top: 0px !important; left: 0px !important; background-color: rgb(40, 44, 52); pointer-events: initial;" width="300" height="1592"></canvas>
                </div>
            </div>
            <div id="article" class="">

            </div>
        
    </body>
</html>